.DatabasePanel {
  width: 100%;
  height: 100%;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  th, td {
    padding: 10px 10px;
  }

  thead > tr {
    background-color: #6d6e70;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #4C8BF5;
    color: white;
  }

  td:last-child {
    border: 0px solid black;
    background-color: transparent;
  }
}

.SelectedRow {
  box-shadow: 0 0 0 0.2em orange;
}

.UnlockedRow {
  box-shadow: 0 0 0 0.2em red;
}

.SelectedCell {
  color: black;
  background-color: yellow;
}